@charset "UTF-8";

._container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "SF Pro Display", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #000000e5;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: rgba(219, 22, 22, 0.5) !important;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

p {
  font-weight: 400;
}

.dark {
  color: #000 !important;
}

.h__dark,
.h__white {
  margin: 20px 0;
  font-size: 36px;
  line-height: 119.3333333333%;
}

.h__dark {
  color: #000;
}

.h__white,
.p__white {
  color: #fff;
}

.p__dark,
.p__white {
  line-height: 119.3571428571%;
}

.btn__outline {
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 119.3125%;
  height: 40px;
  padding: 2px 0;
  font-weight: 700;
}

.btn__outline span {
  margin-right: 15px;
}

.btn__outline span:last-child {
  margin-right: 0;
}

.btn__outline span:hover {
  color: rgba(219, 22, 22, 0.5) !important;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
}

.white {
  background: #fff !important;
}

.s_16 {
  font-size: 16px;
  line-height: 119.3125%;
}

.s_14 {
  font-size: 14px;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Medium.ttf");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-Medium.woff2") format("woff2"), url("SFProDisplay-Medium.woff") format("woff"), url("SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/SFProDisplay-Regular.ttf");
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"), url("SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-Medium.woff2") format("woff2"), url("SFProDisplay-Medium.woff") format("woff"), url("SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
}

.intro {
  position: relative;
}

.intro__bg__img {
  max-width: 1440px;
  width: 100%;
  max-height: 900px;
  height: 100% auto;
}

.intro__header {
  position: absolute;
  top: 0;
  padding: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro__nav .intro__burger {
  display: block;
  position: relative;
  width: 30px;
  cursor: pointer;
  height: 20px;
  z-index: 10;
}

.intro__nav .intro__burger span {
  position: absolute;
  background-color: #fff;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.intro__nav .intro__burger::before,
.intro__nav .intro__burger::after {
  content: "";
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  transition: all 0.3s ease 0s;
}

.intro__nav .intro__burger::after {
  bottom: 0;
}

.intro__nav .intro__burger::before {
  top: 0;
}

.intro__nav .intro__burger.active {
  position: fixed;
  right: 25px;
}

.intro__nav .intro__burger.active::before {
  transform: rotate(45deg);
  top: 9px;
}

.intro__nav .intro__burger.active::after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.intro__nav .intro__burger.active span {
  transform: scale(0);
}

.intro__nav .intro__burger__menu {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(219, 22, 22, 0.5);
  text-shadow: 1px 1px #fff;
  padding: 40px;
  transition: all 0.3s ease 0s;
  overflow: auto;
  font-size: 20px;
}

.intro__nav .intro__burger__menu .burger__list .burger__list__item {
  margin: 30px 0;
  color: #fff;
}

.intro__nav .intro__burger__menu.active {
  top: 0%;
  z-index: 9;
}

body .lock {
  overflow: hidden;
}

.about {
  margin: 20px 10px;
}

.about__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.about__items {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.about__item {
  flex: 0 1 476px;
}

.about__item:last-child {
  margin: 0 10px;
}

.about__item__block {
  position: relative;
  top: -80px;
  right: 0;
}

.about__item__block__after {
  display: flex;
  justify-content: flex-end;
}

.about__item__block__after img {
  max-width: 679px;
  width: 100%;
  max-height: 350px;
  height: 100%;
}

.about__item img {
  max-width: 476px;
  width: 100%;
  max-height: 634px;
  height: 100%;
}

.h__about,
.p__about {
  max-width: 405px;
  width: 100%;
}

.p__about {
  margin: 24px 0 20px 0;
}

.project {
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 750px;
  height: auto;
}

.project__info {
  display: flex;
  text-align: right;
  align-items: flex-end;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 1 auto;
  min-height: 500px;
  height: auto;
}

.project__info__item {
  color: #fff;
  max-width: 425px;
  padding: 10px;
}

.project__info__item .btn__outline {
  margin-top: 25px;
}

.project__info__item .btn__outline span {
  font-weight: 500;
}

.project__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 828px;
  max-height: 500px;
}

.project__img img {
  max-width: 828px;
  width: 100%;
  max-height: 500px;
  height: 100%;
}

.no-webp .big__project{
  background: url(../img/project_bg.jpg) 50% 50% no-repeat; }

.big__project {
  width: 100%;
  background-color: #816d52;
  background-size: cover !important;
  position: relative;
  top: 0;
  left: 0;
  padding: 0 10px;
}

.big__project__wrapper {
  min-height: 900px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.big__project__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 1 500px;
}

.info__item {
  max-width: 410px;
}

.big__project__btns {
  position: absolute;
  bottom: 40px;
  right: 33px;
  display: inline-flex;
}

.big__project__btns .big__project__btn {
  cursor: pointer;
}

.big__project__btns .big__project__btn span {
  color: #ffffffe5;
  font-size: 16px;
  margin: 0 3px;
}

.p__big__info {
  margin: 16px 0 32px 0;
}

.h__big__info {
  margin: 0;
}

.p__info_f14 {
  margin: 20px 0;
}

.slider {
  min-height: 1200px;
  padding: 30px 0;
}

.slider__items {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.slider__item:not(:last-child) {
  margin-bottom: 20px;
  text-align: right;
}

.slider__item__info {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.info__feature__text {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.info__feature__text span:not(:first-child) {
  padding: 20px 0;
}

.info__img {
  margin: 10px 0;
}

.info__img img {
  display: block;
  max-width: 486px;
  width: 100%;
}

.info__main__text,
.info__feature__text {
  max-width: 495px;
  padding: 0 10px;
}

.info__main__text {
  max-width: 435px;
}

.info__main__text p {
  margin: 20px 0;
}

.slider__slick {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.slider__slick__item img {
  max-width: 686px;
  width: 100%;
}

/* Слайдер с точками */

.slick-slider.slick-dotted {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Ограничивающая оболочка */

.slick-list {
  max-width: 686px;
  overflow: hidden;
}

/* Лента слайдов */

.slick-track {
  display: flex;
}

/* Слайд */

.slick-slide {
  max-width: 686px;
}

/* Точки (булиты) */

.slick-dots {
  display: inline-flex !important;
  position: absolute;
  bottom: 12px;
}

.slick-dots li {
  cursor: pointer;
  width: 14px;
  margin: 12px;
  height: 14px;
  background: #ffffff8c !important;
  border-radius: 50% !important;
}

/* Активная точка */

.slick-dots li.slick-active {
  background: #fff !important;
}

/* Элемент точки */

#slick-slide-control01,
#slick-slide-control02,
#slick-slide-control03,
#slick-slide-control00 {
  font-size: 0 !important;
}

.footer {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer__items {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer__item {
  margin: 0 20px;
}

.footer__item span {
  color: #0101015e;
}

.footer__item ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.footer__item ul li {
  margin: 20px 10px;
  text-decoration: underline;
}

.footer__item ul li:first-child {
  margin: 10px !important;
  text-decoration: none;
}

@media (min-width: 900px) {
  .about__item:last-child {
    padding: 0 80px;
  }

  .about {
    margin: 70px 0 30px 0;
  }

  .footer {
    min-height: 170px;
  }

  .footer__items {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .footer__item {
    margin: 0;
  }

  .footer__item ul li {
    margin: 0 20px !important;
  }

  .footer__item ul li:first-child {
    margin-right: 75px !important;
  }

  .footer__item ul li:last-child {
    margin-right: 0 !important;
  }
}

@media (min-width: 1024px) {
  .info__img {
    margin: 30px 0 60px 0 !important;
  }

  .slider {
    padding: 60px 0 100px 0 !important;
  }

  .slider__items {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .info__img img {
    padding-right: 10px;
  }

  .info__feature__text span:not(:first-child) {
    padding: 40px 0 !important;
  }
}

@media (max-width: 1300px) {
  .slider__slick {
    margin-right: 0;
  }
}

@media (max-width: 1200px) {
  .about__item__block {
    position: relative;
    top: 0;
    margin-top: 20px;
  }

  .project {
    flex-wrap: wrap;
    min-height: unset;
    padding: 20px 0;
  }

  .project__info {
    min-height: unset;
  }

  .project__info__item {
    max-width: 820px;
  }

  .big__project__wrapper {
    max-height: 700px;
    height: 100%;
    min-height: 500px;
  }
}

@media (max-width: 900px) {
  .about__item img {
    margin-bottom: 20px;
  }

  .about__items {
    justify-content: center;
    flex-wrap: wrap;
  }

  .slider__items {
    flex-wrap: wrap;
  }

  .slick-slide,
  .slider__item {
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .slick-list {
    max-width: 100%;
  }

  .footer__item ul li:first-child {
    min-width: 100px;
  }
}

.webp .big__project{ background: url(../img/project_bg.webp) 50% 50% no-repeat; }